.footer {
position: absolute;
height: 50px;

background: #5A5A5A;
}

.main-button {
    background: #00cc08;
}

.footer-msg{
position: absolute;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;

color: #FFFFFF;
}