<!-- Body -->
<div class="main-con container-fluid">
  <!-- Landing -->
  <div class="landing-con d-sm-flex justify-content-center">
    <!-- Fox image -->
    <div id="uWu-image-con">
      <img id="uWu-image" class="img-fluid" src="https://gabtobing.com/images/HoloSleep%20-%20Zoomed.png" alt="Holo Sleeping">
    </div>
    <!-- Side buttons -->
    <div id="button-group" class="col-3">
      <div class="col-11">
        <a routerLink='about-me' routerLinkActive="active" ariaCurrentWhenActive="page">
          <div class="row p-2">
            <div type="button" class="main-button rounded btn btn-lg btn-success p-2">about me</div>
          </div>
        </a>
        <a href="404.html">
          <div class="row p-2">
            <div type="button" class="main-button rounded btn btn-lg btn-success p-2">smolgabs</div>
          </div>
        </a>
        <a href="https://www.youtube.com/watch?v=aueEu9Gano4">
          <div class="row p-2">
            <div type="button" class="main-button rounded btn btn-lg btn-success p-2">some uWu</div>
          </div>
        </a>
        <a href="https://www.youtube.com/watch?v=fNJk9owbieE">
          <div class="row p-2">
            <div type="button" class="main-button rounded btn btn-lg btn-success p-2">something random</div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- Stream schedule containers -->
  <div class="section-title container-fluid d-sm-flex justify-content-center">
    <h1 id="stream-schedule-title" class="border rounded border-success">Stream schedule</h1>
  </div>
  <div class="stream-con container-fluid d-sm-flex justify-content-center">
    <div class="row">
      <!-- Actual card slots -->
      <!-- Hard coded will be replaced with variables later -->
      <!-- Cards -->
      <div class="col">
        <div class="card" style="width: 20rem">
          <h5 class="card-title text-center pt-3 pb-2"> Today </h5>
          <img class="container-fluid" src="https://www.gabtobing.com/images/natsuki.png">
          <div class="p-3">
            <h3 class="class-title">BAKAAAAAAAAAA!!!</h3>
            <p class="card-text">It's not like I like you or anything!</p>
            <div class="container-fluid text-center">
              <a href="#" class="container-fluid btn btn-primary">View stream!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page footer -->
<!--

TODO: Fix the footer not being at the bottom issue
<div class="footer container-fluid">
  <div class="container text-center row">
      <span id="tagline" class="footer-msg pt-1"><script src="js/uwu-splash.js" type="df9a4d4079e1b915b8e2136d-text/javascript"></script></span>
  </div>
</div>

-->