<!-- Stream schedule containers -->
<div class="section-title container-fluid d-sm-flex justify-content-center">
    <h1 id="stream-schedule-title" class="border rounded border-success">Stream schedule</h1>
  </div>
  <div class="stream-con container-fluid d-sm-flex justify-content-center">
    <div class="row">
      <!-- Actual card slots -->
      <!-- Hard coded will be replaced with variables later -->
      <!-- Cards -->
      <div class="col">
        <div class="card" style="width: 20rem">
          <h5 class="card-title text-center pt-3 pb-2"> Today </h5>
          <img class="container-fluid" src="https://www.gabtobing.com/images/natsuki.png">
          <div class="p-3">
            <h3 class="class-title">BAKAAAAAAAAAA!!!</h3>
            <p class="card-text">It's not like I like you or anything!</p>
            <div class="container-fluid text-center">
              <a href="#" class="container-fluid btn btn-primary">View stream!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>