<section id="home-section">
  <div class="main-con container-fluid">
  <div class="d-sm-flex justify-content-center">
  
  <div id="uWu-image-con">
  <img id="uWu-image" class="img-fluid" src="https://gabtobing.com/images/HoloSleep%20-%20Zoomed.png" alt="Holo Sleeping">
  </div>
  
  <div id="button-group" class="col-3">
  <div class="col-11">
  <a href="about.html">
  <div class="row p-2">
  <div type="button" class="main-button rounded btn btn-lg btn-success p-2">about me</div>
  </div>
  </a>
  <a href="404.html">
  <div class="row p-2">
  <div type="button" class="main-button rounded btn btn-lg btn-success p-2">smolgabs</div>
  </div>
  </a>
  <a href="https://www.youtube.com/watch?v=aueEu9Gano4">
  <div class="row p-2">
  <div type="button" class="main-button rounded btn btn-lg btn-success p-2">some uWu</div>
  </div>
  </a>
  <a href="https://www.youtube.com/watch?v=fNJk9owbieE">
  <div class="row p-2">
  <div type="button" class="main-button rounded btn btn-lg btn-success p-2">something random</div>
  </div>
  </a>
  </div>
  </div>
  </div>
  </div>
  </section>